/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-form-field-appearance-outline .mat-form-field-flex {
    background-color: white;
    margin-top: 20px;
    padding: 0px 10px 0px 17px !important;
}

mat-form-field {
    width: 100%;
}

.mat-dialog-container {
    background-color: #f2f2f2 !important;
}

.mat-raised-button {
    min-width: 100px !important;
}

.mat-dialog-actions{
    justify-content: flex-end;
}
